.ant-modal-content{
    padding: 20px !important;
}


.formHeader{
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    .titleWrap{
        flex: 1;
    }
    .ant-input{
        font-size: 20px;
        &::placeholder{
            font-size: 20px;
            color: rgba(60,60,67,.2);
            line-height: 26px;
        }   
    }
    .icon{
        .circle{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #42a2f4;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.formCommon{
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    .formCommonWrap{
        display: flex;
        flex-direction: column;
        padding: 14px 0;
        .time-row{
            display: flex;
            align-items: center;
            font-size: 14px;
            .clock-icon{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .addTime{
                display: inline-block;
                white-space: normal;
                padding: 8px;
                border-radius: 6px;
                transition: all .3s;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ff9600;
                &:hover{
                    background: #f5f9ff;
                }
            }
            .startTime{
                .label{
                    padding: 8px;
                }
                .time{
                    color: #ff9600;
                }
                display: flex;
                align-items: center;
            }
        }
        .result-row{
            .finishTime,
            .payTime{
                align-items: center;
                display: flex;
                font-size: 14px;
            }
            .finishTime .icon,
            .payTime .icon{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .finishTime .label,
            .payTime .label{
                padding: 8px;
            }
            .payTime .time{
                color: #3b8cf1;
            }
        }
    }
}

.formMore{
    
    .mark-row{
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        padding-bottom: 14px;
    }
    .fail-row{
        .fail-btn{
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            width: 36px;
            .fail-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
            }
            span{
                text-align: center;
            }
        }
    }
    
}
.importance{
    padding: 0;
    margin: 0;
    .importance-item{
        cursor: pointer;
        position: relative;
        height: 40px;
        background-color: #fff;
        padding: 20px;
        display: flex;
        align-items: center;
        list-style: none;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .current{
            position: absolute;
            right: 20px;
        }
    }
}

.classify{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    max-width: 242px;
    max-height: 242px;
    padding-top: 34px;
    .classify-item{
        position: relative;
        list-style: none;
        padding-left: 34px;
        margin-bottom: 20px;
        .icon{
            margin: 0;
            padding: 0;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin-bottom: 5px;
            img{
                width: 20px;
                height: 20px;
                position: absolute;
                left:50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .title{
            text-align: center;
        }
        .checked{
            position: absolute;
            top: -9px;
            right: -6px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}